@import "tailwindcss";

.border-gradient {
    background: linear-gradient(#ffffff, #ffffff) padding-box,
        linear-gradient(to right, #ff55f4, #54bcfd) border-box;
    border: 1.5px solid transparent;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

body {
  font-family: "Google Sans Flex", system-ui, sans-serif;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}